<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Design Knowledge Base',formTitle='Design'">
<head>
<title>PMSoftware</title>
<link th:layout="file_input_header" th:href="@{/bootstrap-fileinput/css/fileinput.min.css}" href="../bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="form_fields">
		<form action="#" th:action="@{/product/add}" th:object="${product}"
			method="post"  enctype="multipart/form-data">
			<div id="less_details" th:include="fragments::preProduct">
			
			</div>
			<div th:include="fragments::product('true','Update')"></div>
		</form>
	</div>
	<script layout:fragment="footer_script" th:include="fragments::footer_script"></script>
<section layout:fragment="file_input_script" th:include="fragments::file_input"></section>
</body>
</html>