<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Design Knowledge Base',formTitle='Design'">
<head>
<title>PMSoftware</title>
<link th:layout="file_input_header" th:href="@{/bootstrap-fileinput/css/fileinput.min.css}" href="../bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="form_fields">
		<form action="#" th:action="@{/product/add}" th:object="${product}"
			method="post" enctype="multipart/form-data">
			<div id="less_details">
			<div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Design Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#category" data-toggle="tab" aria-expanded="true">Primary Category</a>
                                </li>
                                <li class=""><a href="#division" data-toggle="tab" aria-expanded="false">Primary Division</a>
                                </li>
                                <li class=""><a href="#section" data-toggle="tab" aria-expanded="false">Primary Section</a>
                                </li>
                                <li class=""><a href="#style" data-toggle="tab" aria-expanded="false">Style</a>
                                </li>
                                <li class=""><a href="#brand" data-toggle="tab" aria-expanded="false">Brand</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="category">
                                    <input class="category form-control" th:field="*{category.name}"
							type="text" autocomplete="off" /> <input class="form-control"
							th:field="*{category.id}" type="hidden" />
                                </div>
                                <div class="tab-pane fade" id="division">
                                    <input class="division form-control" th:field="*{division.name}"
							type="text" autocomplete="off" /> <input class="form-control"
							th:field="*{division.id}" type="hidden" />
                                </div>
                                <div class="tab-pane fade" id="section">
									<div id="scrollable-dropdown-menu">
						<input class="section form-control" th:field="*{section.name}"
							type="text" autocomplete="off" /> <input class="form-control"
							th:field="*{section.id}" type="hidden" />
								</div>
                                </div>
                                <div class="tab-pane fade" id="style">
									<input class="style form-control" th:field="*{style.name}"
							type="text" autocomplete="off" /> <input class="form-control"
							th:field="*{style.id}" type="hidden" />
                                </div>
                                <div class="tab-pane fade" id="brand">
                                	<input class="brand form-control" th:field="*{brand.name}"
							type="text" autocomplete="off" /> <input class="form-control"
							th:field="*{brand.id}" type="hidden" />
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
			</div>
			<div th:include="fragments::product('false','Add')" id="more_details"></div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>List of Designs</label>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover"
								id="dataTables-example">
								<thead>
									<tr>
										<th col="id" key="id">ID</th>
										<th col="name">Design</th>
										<th col="description">Description</th>
										<th col="view">View</th>
										<th col="edit">Edit</th>
										<th col="delete">Delete</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Design</th>
										<th>Description</th>
										<th>View</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="footer_script">
		$(document).ready(function() {
			$("#imageFiles").fileinput({
		        uploadAsync: false,
		        showUpload: false,
		        uploadUrl: "/product/upload" // your upload server url
		    });
			
			var cTable = $('#dataTables-example').dataTable();
			populate_basic_table("/product/list", cTable, "product");
		});
	</script>
	<section layout:fragment="file_input_script" th:include="fragments::file_input"></section>
</body>
</html>