<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Brand Knowledge Base',formTitle='Brand'">
<head>
<title>PMSoftware</title>
</head>
<body>
	<div layout:fragment="form_fields">
		<div class="row">
			<div class="col-lg-6">
				<form action="#" th:action="@{/brand/add}" th:object="${brand}"
					method="post">
					<div class="form-group">
						<label>Brand Name</label> <input type="text" th:field="*{name}"
							class="form-control" /><input type="hidden" th:field="*{id}"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
					</div>
					
					<div class="form-group" th:each="var, variantTypeStat : *{variantTypes}">
						<label th:text="|VariantType ${variantTypeStat.count}|"></label>
						<!-- <button type="submit" name="removeVariantType" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> --> 
						<select class="form-control"
							th:field="*{variantTypes[__${variantTypeStat.index}__]}">
							<option value="0">Select VariantType</option>
							<option th:each="variantType : ${variantType_list}"
								th:value="${variantType.id}" th:text="${variantType.name}"></option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" name="addVariantType" class="btn btn-info btn-xs">
							<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add VariantType
						</button>
					</div>
					
					<div class="form-group" th:each="var, tagStat : *{tags}">
						<label th:text="|Tag ${tagStat.count}|"></label>
						<!-- <button type="submit" name="removeTag" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> --> 
						<select class="form-control"
							th:field="*{tags[__${tagStat.index}__]}">
							<option value="0">Select Tag</option>
							<option th:each="tag : ${tag_list}"
								th:value="${tag.id}" th:text="${tag.name}"></option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" name="addTag" class="btn btn-info btn-xs">
							<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Tag
						</button>
					</div>
					
					<div class="form-group">
						<label>Primary Unit of Measurement</label>
						<select class="form-control"
							th:field="*{primaryUnit}">
							<option value="0">Select Measurement</option>
							<option th:each="measurement : ${measurement_list}"
								th:value="${measurement.id}" th:text="${measurement.name}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Secondary Unit of Measurement</label>
						<select class="form-control"
							th:field="*{secondaryUnit}">
							<option value="0">Select Measurement</option>
							<option th:each="measurement : ${measurement_list}"
								th:value="${measurement.id}" th:text="${measurement.name}"></option>
						</select>
					</div>
					<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
						<p th:text="${#fields.allErrors()[0]}">...</p>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<label>List of Brands</label>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover"
							id="dataTables-example">
							<thead>
								<tr>
									<th>ID</th>
									<th>Brand</th>
									<th>Description</th>
									<th>View</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>Brand</th>
									<th>Description</th>
									<th>View</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="footer_script">
		$(document).ready(function() {
			var cTable = $('#dataTables-example').dataTable();
			populate_basic_table("/brand/list", cTable, "brand");
		});
	</script>
</body>
</html>