<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Delivery  Challan Knowledge Base',formTitle='Delivery  Challan'">
<head>
<title>PMSoftware</title>
</head>
<body>
	<div layout:fragment="form_fields">
		<form action="#" th:action="@{/deliveryChallan/add}" th:object="${deliveryChallan}"
			method="post">
			<div th:include="fragments::deliveryChallan('true','Update')"></div>
		</form>
	</div>
</body>
</html>