<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Goods Receive Challan Knowledge Base',formTitle='Goods Receive Challan'">
<head>
<title>PMSoftware</title>
</head>
<body>
	<div layout:fragment="form_fields">
		<form action="#" th:action="@{/goodsReceiveChallan/add}" th:object="${goodsReceiveChallan}"
			method="post">
			<div th:include="fragments::goodsReceiveChallan('false','Add')"></div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>List of GoodsReceiveChallans</label>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover"
								id="dataTables-example">
								<thead>
									<tr>
										<th col="goodsReceiveChallanId" key="goodsReceiveChallanId">ID</th>
										<th col="goodsReceiveChallanDate">GRC Date</th>
										<th col="vendor.name">Vendor</th>
										<th col="purchaseOrder.purchaseOrderId">PO Id</th>
										<th col="view">View</th>
										<th col="edit">Edit</th>
										<th col="delete">Delete</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>GRC Date</th>
										<th>Vendor</th>
										<th>PO Id</th>
										<th>View</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="footer_script">
		$(document).ready(function() {
			var cTable = $('#dataTables-example').dataTable();
			populate_basic_table("/goodsReceiveChallan/list", cTable, "goodsReceiveChallan");
		});
	</script>
</body>
</html>