<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>Title</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h4 th:text="${formHeading}">Forms</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<label th:text="${formTitle}"></label>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<div layout:fragment="form_fields"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="confirmModal"
				style="display: none; z-index: 1050;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body" id="confirmMessage"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="confirmOk">Yes</button>
							<button type="button" class="btn" id="confirmCancel">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>