<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="brand(update,button)">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Brand Name</label> <input type="text" th:field="*{name}"
						class="form-control" /><input type="hidden" th:field="*{id}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
				</div>
				<div class="form-group">
					<label>Primary Unit of Measurement</label> <input
						class="measurement form-control" th:field="*{primaryUnit.name}"
						type="text" autocomplete="off" /> <input class="form-control"
						th:field="*{primaryUnit.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label>Secondary Unit of Measurement</label> <input
						class="measurement form-control" th:field="*{secondaryUnit.name}"
						type="text" autocomplete="off" /> <input class="form-control"
						th:field="*{secondaryUnit.id}" type="hidden" />
				</div>
			</div>
			<div class="col-lg-6">

				<div class="form-group" th:each="var, tagStat : *{tags}">
					<label th:text="|Tag ${tagStat.count}|"></label>
					<!-- <button type="submit" name="removeTag" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> -->
					<input class="tagType form-control"
						th:field="*{tags[__${tagStat.index}__].type.name}" type="text"
						autocomplete="off" /> <input class="form-control"
						th:field="*{tags[__${tagStat.index}__].type.id}" type="hidden" />

				</div>
				<div class="form-group">
					<button type="submit" name="addTag" class="btn btn-info btn-xs">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Tag
					</button>
				</div>

				<div class="form-group" th:each="var, variantStat : *{variants}">
					<label th:text="|Variant ${variantStat.count}|"></label>
					<!-- <button type="submit" name="removeTag" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> -->
					<input class="variantType form-control"
						th:field="*{variants[__${variantStat.index}__].type.name}"
						type="text" autocomplete="off" /> <input class="form-control"
						th:field="*{variants[__${variantStat.index}__].type.id}"
						type="hidden" />

				</div>
				<div class="form-group">
					<button type="submit" name="addVariant" class="btn btn-info btn-xs">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Variant
					</button>
				</div>


			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
					<p th:text="${#fields.allErrors()[0]}">...</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" th:switch="${button}">
						<i th:case="Add" class="fa fa-plus fa-lg" aria-hidden="true"></i>
						<i th:case="Update" class="fa fa-floppy-o fa-lg"
							aria-hidden="true"></i> <span th:text="${button}"></span>
					</button>
					<a href="/brand/">
						<button type="button" class="btn btn-danger" th:if='${update}'>
							<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
							Cancel
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="product(update,button)">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Product Name</label> <input type="text" th:field="*{name}"
						class="form-control" /><input type="hidden" th:field="*{id}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
				</div>
				<div class="form-group">
					<label>Primary Category</label> <input
						class="category form-control" th:field="*{category.name}"
						type="text" autocomplete="off" /> <input class="form-control"
						th:field="*{category.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label>Primary Division</label> <input
						class="division form-control" th:field="*{division.name}"
						type="text" autocomplete="off" /> <input class="form-control"
						th:field="*{division.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label>Primary Section</label> <input class="section form-control"
						th:field="*{section.name}" type="text" autocomplete="off" /> <input
						class="form-control" th:field="*{section.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label>Primary Style</label> <input class="style form-control"
						th:field="*{style.name}" type="text" autocomplete="off" /> <input
						class="form-control" th:field="*{style.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label>Primary Brand</label> <input class="brand form-control"
						th:field="*{brand.name}" type="text" autocomplete="off" /> <input
						class="form-control" th:field="*{brand.id}" type="hidden" />
				</div>
				<div class="form-group">
					<label><input type="checkbox" th:field="*{trackInventory}" /> Track Inventory</label>
				</div>
				<div class="form-group">					
					<label><input type="checkbox" th:field="*{active}" /> Active</label>
				</div>
				<div class="form-group">
					<label><input type="checkbox" th:field="*{taxable}" /> Taxable</label>
				</div>
				
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label>Product Type</label> <input type="text"
						th:field="*{productType.name}" class=" productType form-control"
						autocomplete="off" /><input type="hidden"
						th:field="*{productType.id}" class="form-control" />
				</div>
				<div class="form-group">
					<label>Indicatory Cost</label> <input type="text"
						th:field="*{indicatoryCost}" class="form-control" />
				</div>
				<div class="form-group" th:each="var, tagStat : *{tags}">
					<label th:text="|Tag ${tagStat.count}|"></label>
					<!-- <button type="submit" name="removeTag" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> -->
					<input class="tagType form-control"
						th:field="*{tags[__${tagStat.index}__].type.name}" type="text"
						autocomplete="off" /> <input class="form-control"
						th:field="*{tags[__${tagStat.index}__].type.id}" type="hidden" />

				</div>
				<div class="form-group">
					<button type="submit" name="addTag" class="btn btn-info btn-xs">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Tag
					</button>
				</div>
				<div class="form-group" th:each="var, vendorStat : *{vendors}">
					<label th:text="|Vendor ${vendorStat.count}|"></label>
					<!-- <button type="submit" name="removeTag" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> -->
					<input class="vendor form-control"
						th:field="*{vendors[__${vendorStat.index}__].name}" type="text"
						autocomplete="off" /> <input class="form-control"
						th:field="*{vendors[__${vendorStat.index}__].id}" type="hidden" />

				</div>
				<div class="form-group">
					<button type="submit" name="addVendor" class="btn btn-info btn-xs">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Vendor
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>Variants</label>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover">
							<tr>
								<th>Variant Type</th>
								<th>Variant</th>
								<th>WSP Margin</th>
								<th>WSP Price</th>
								<th>RSP Margin</th>
								<th>RSP Price</th>
								<th>Route</th>
							</tr>
							<tr th:each="var, variantStat : *{variants}">
								<td>
									<div class="form-group">
										<div id="scrollable-dropdown-menu">
											<input
												th:field="*{variants[__${variantStat.index}__].type.name}"
												type="text"
												class="variantType typeahead tt-query form-control"
												autocomplete="off" /> <input
												th:field="*{variants[__${variantStat.index}__].type.id}"
												type="hidden" class="form-control" />
										</div>
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text"
											th:field="*{variants[__${variantStat.index}__].name}"
											class="form-control" /> <input type="hidden"
											th:field="*{variants[__${variantStat.index}__].id}"
											class="form-control" />
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text"
											th:field="*{variants[__${variantStat.index}__].wspMargin}"
											class="form-control" />
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text"
											th:field="*{variants[__${variantStat.index}__].wspPrice}"
											class="form-control" />
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text"
											th:field="*{variants[__${variantStat.index}__].rspMargin}"
											class="form-control" />
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type="text"
											th:field="*{variants[__${variantStat.index}__].rspPrice}"
											class="form-control" />
									</div>
								</td>
								<td>
									<a href="#"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Route</a>
								</td>
							</tr>
						</table>
						<div class="form-group">
							<button type="submit" name="addVariant"
								class="btn btn-success btn-xs">
								<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Variant
							</button>
						</div>
					</div>
				</div>
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
					<p th:text="${#fields.allErrors()[0]}">...</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" th:switch="${button}">
						<i th:case="Add" class="fa fa-plus fa-lg" aria-hidden="true"></i>
						<i th:case="Update" class="fa fa-floppy-o fa-lg"
							aria-hidden="true"></i> <span th:text="${button}"></span>
					</button>
					<a href="/product/">
						<button type="button" class="btn btn-danger" th:if='${update}'>
							<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
							Cancel
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="vendor(update,button)">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Company Name</label> <input type="text" th:field="*{name}"
						class="form-control" /><input type="hidden" th:field="*{id}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>Phone</label> <input type="text" th:field="*{phone}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" th:field="*{email}"
						class="form-control" />
				</div>


			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>Contact Persons</label>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover">
							<tbody th:each="var, contactPersonStat : *{contactPersons}">
							<tr>
									<th colspan="4" th:text="|Contact ${contactPersonStat.count}|"></th>
								</tr>
								<tr>
									<th>Name</th>
									<td>
										<div class="form-group">
											<div id="scrollable-dropdown-menu">
												<input
													th:field="*{contactPersons[__${contactPersonStat.index}__].name}"
													type="text"
													class="contactPersonType typeahead tt-query form-control"
													autocomplete="off" /> <input
													th:field="*{contactPersons[__${contactPersonStat.index}__].id}"
													type="hidden" class="form-control" />
											</div>
										</div>
									</td>
									<th>Designation</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{contactPersons[__${contactPersonStat.index}__].designation}"
												class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<th>Mobile</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{contactPersons[__${contactPersonStat.index}__].mobile}"
												class="form-control" />
										</div>
									</td>
									<th>Alternate Mobile</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{contactPersons[__${contactPersonStat.index}__].alternateMobile}"
												class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<th>Email</th>
									<td>
										<div class="form-group">
											<input type="email"
												th:field="*{contactPersons[__${contactPersonStat.index}__].email}"
												class="form-control" />
										</div>
									</td>
									<th>Alternate Email</th>
									<td>
										<div class="form-group">
											<input type="email"
												th:field="*{contactPersons[__${contactPersonStat.index}__].alternateEmail}"
												class="form-control" />
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group">
							<button type="submit" name="addContactPerson"
								class="btn btn-success btn-xs">
								<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Contact
								Person
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<label>Addresses</label>
					</div>
					<div class="panel-body">

						<table class="table table-striped table-bordered table-hover">
							<tbody th:each="var, addressStat : *{addressList}">
								<tr>
									<th colspan="4" th:text="|Address ${addressStat.count}|"></th>
								</tr>
								<tr>
									<th>TIN No</th>
									<td>
										<div class="form-group">
											<input
												th:field="*{addressList[__${addressStat.index}__].tinNo}"
												class="form-control" type="text" />
										</div>
									</td>
									<th>CST No</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].cstNo}"
												class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<th>Address</th>
									<td>
										<div class="form-group">
											<input
												th:field="*{addressList[__${addressStat.index}__].addressLine}"
												class="form-control" type="text" /> <input
												th:field="*{addressList[__${addressStat.index}__].id}"
												type="hidden" class="form-control" />
										</div>
									</td>
									<th>City</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].city}"
												class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<th>District</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].district}"
												class="form-control" />
										</div>
									</td>
									<th>Pincode</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].pincode}"
												class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<th>State</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].state}"
												class="form-control" />
										</div>
									</td>
									<th>Country</th>
									<td>
										<div class="form-group">
											<input type="text"
												th:field="*{addressList[__${addressStat.index}__].country}"
												class="form-control" />
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group">
							<button type="submit" name="addAddresses"
								class="btn btn-success btn-xs">
								<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Address
							</button>
						</div>

					</div>
				</div>
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
					<p th:text="${#fields.allErrors()[0]}">...</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" th:switch="${button}">
						<i th:case="Add" class="fa fa-plus fa-lg" aria-hidden="true"></i>
						<i th:case="Update" class="fa fa-floppy-o fa-lg"
							aria-hidden="true"></i> <span th:text="${button}"></span>
					</button>
					<a href="/vendor/">
						<button type="button" class="btn btn-danger" th:if='${update}'>
							<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
							Cancel
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="route(update,button)">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Route Name</label> <input type="text" th:field="*{name}"
						class="form-control" /><input type="hidden" th:field="*{id}"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
				</div>
				<div class="form-group" th:each="var, stageStat : *{stages}">
					<label th:text="|Stage ${stageStat.count}|"></label>
					<!-- <button type="submit" name="removeStage" class="btn btn-danger btn-circle-sm btn-xs"><i class="fa fa-times fa-fw"></i>
                            </button> -->
					<input class="stage form-control"
						th:field="*{stages[__${stageStat.index}__].name}" type="text"
						autocomplete="off" /> <input class="form-control"
						th:field="*{stages[__${stageStat.index}__].id}" type="hidden" />

				</div>
				<div class="form-group">
					<button type="submit" name="addStage" class="btn btn-info btn-xs">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add Stage
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
					<p th:text="${#fields.allErrors()[0]}">...</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" th:switch="${button}">
						<i th:case="Add" class="fa fa-plus fa-lg" aria-hidden="true"></i>
						<i th:case="Update" class="fa fa-floppy-o fa-lg"
							aria-hidden="true"></i> <span th:text="${button}"></span>
					</button>
					<a href="/route/">
						<button type="button" class="btn btn-danger" th:if='${update}'>
							<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
							Cancel
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>