<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="form"
	th:with="formHeading='Pick List Knowledge Base',formTitle='Pick List'">
<head>
<title>PMSoftware</title>
</head>
<body>
	<div layout:fragment="form_fields">
		<form action="#" th:action="@{/salesOrder/add}"
			th:object="${pickList}" method="post">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-control">
						<label th:text="${pickListId}"></label>
						<input type="hidden" th:field="*{pickListId}" />
						<input type="hidden" th:field="*{finYear}" />
					</div>
					<div class="form-control">
						<label th:text="${pickListDate}"></label>
					</div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover"
							title="Pick List ${pickListId}" id="dataTables-example">
							<thead>
								<tr>
									<th col="salesOrderId" key="salesOrderId">Sales Order ID</th>
									<th col="product.name">Design</th>
									<th col="variant.name">Variant</th>
									<th col="quantity">Quantity</th>
								</tr>
							</thead>
							<!-- <tbody>
								<tr th:each="var, salesOrderItemStat : *{salesOrderItems}">
									<td th:text="${var.salesOrderId}"></td>
									<td th:text="${var.product.name}"></td>
									<td th:text="${var.variant.name}"></td>
									<td th:text="${var.quantity}"></td>
								</tr>
							</tbody> -->
							<tfoot>
								<tr>
									<th>Sales Order ID</th>
									<th>Design</th>
									<th>Variant</th>
									<th>Quantity</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" name="print">
							<i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i><span>
								Print Pick List</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script layout:fragment="footer_script">
		$(document).ready(
				function() {
					var cTable = $('#dataTables-example').dataTable();
					populate_basic_table("/salesOrder/pickListItemList/"+$('#pickListId').val(), cTable,
							"salesOrderItem");
				});
	</script>
</body>
</html>